<ion-header color="orange">
  <ion-toolbar color="orange">
    <ion-button  slot="start" fill="clear" routerLink="/listcategory">
      <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <h4 class="ion-text-center">Edit Category</h4>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-text color="primary">
      <p>Please fill up the form</p>
    </ion-text>

    <ion-item style="border-radius: 10px;">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="category.name" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="orange" (click)="updateCategory(category)">
      <ion-icon slot="start" name="send"></ion-icon>
      Update
    </ion-button>
  </div>
</ion-content>
